.form-check {
  display: inline-block;
  padding: 20px;
}

.interest {
  position: absolute;
  transform: scale(0);
}

.interest + label {
  cursor: pointer;
  height: 35px;
  width: 100px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interest:hover + label {
  background-color: $custom-background;
}

.interest:checked + label{
  background-color: white;
}

.task_title h2 {
  font-size: 60px;
  position: relative;
  display: inline-block;
  margin: 10px;
  color: #305252;
}

.description h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: #305252;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
  }

  // grayscale everything but the pop up

// body {
//   filter: grayscale(70%);
// }
// /* Add blur effect to other content */
// .login-box{
//   filter: grayscale(0%);
// }
