.pagination {
  text-decoration: none;
}

card-link {
  padding: none;
}

// design to buttons
/* Primary button styles */
.btn-primary {
  width: 250px; /* Set width */
  height: 40px; /* Set height */
  background-color: $final-icon; /* Main color */
  color: $final-black; /* Text color */
  border: 2px solid transparent; /* Transparent border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Add pointer cursor */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effect */
}

.btn-secondary {
  width: 250px; /* Set width */
  height: 80px; /* Set height */
  background-color: $final-main; /* Main color */
  color: #fff; /* Text color */
  border: 2px solid transparent; /* Transparent border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Add pointer cursor */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effect */
}
/* Hover effect */
.btn-primary :hover .btn-secondary :hover {
  background-color: $final-icon; /* Darker shade of main color on hover */
  border-color: #555; /* Border color on hover */
}

.card {
  background-color: $final-main;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  .card {
    text-align: center;
    margin-bottom: 15px;

    img {
      width: 50px; /* Adjust size as needed */
      height: 50px; /* Adjust size as needed */
    }
  }

  .col-md-4 {
    text-align: center;
  }
}

.card-title {
  color: $white;
}

p {
  color: #666;
  font-size: 20px;
  line-height: 2;
  margin-top: 20px;
}

h2 {
  margin-bottom: 80px;
}

.pagination {
  // margin-top: 20px; /* Add some spacing above the pagination links */
  text-align: center; /* Center the pagination links */
  margin-bottom: 10px;
}

.pagination a,
.current {
  color: $final-black; /* Text color for pagination links */
  display: inline-block;
  padding: 5px 10px; /* Padding around each pagination link */
  margin: 0 5px; /* Margin between pagination links */
  border: 1px solid #ccc; /* Border around pagination links */
  border-radius: 5px; /* Rounded corners for pagination links */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effect */
  text-decoration: none; /* Remove underline */
  text-align: center;
}

.pagination a:hover,
.current a:hover {
  background-color: $final-contrast; /* Background color on hover */
}

.pagination .current {
  background-color: $final-main; /* Background color for current page */
  color: #fff; /* Text color for current page */
}

.col-md-4 {
  width: 420px;
  height: 240px;
}

.custom-form {
  display: flex;
  justify-content: center;
}

/* Custom styling for the text input */
.custom-input {
  position: relative;
  width: calc(100% - 40px);
  padding: 10px 50px;
  border: 2px solid $final-main;
  border-radius: 50px;
  font-size: 20px;
  background-color: $final-tertiary;
}

input#query {
  border-radius: 50px;
}

.d-none {
  display: none;
}

.search-image {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  // z-index: 1;
}
