<footer class="footer">
  <div class="container">
    <div class="footer-columns">
      <div class="footer-column">
        <h3>About Us</h3>
        <a href="link">Join our team!</a>
        <a href="link">Contact us</a>
        <a href="link">invite friends</a>
      </div>
      <div class="footer-column">
        <h3>Contact Us</h3>
        <h4>Email: Sisyphus@contact.com<br>Phone: +447842065915</h4>
      </div>
      <div class="footer-column">
        <h3>Follow Us</h3>
        <ul class="social-icons">
          <li><a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" class="social-icon"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#" class="social-icon"><i class="fab fa-instagram"></i></a></li>
          <h4>We would love to share more with you!</h4>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Get Our App</h3>
        <ul class="app-icons">
          <li><a href="#" class="app-icon"><i class="fab fa-apple"></i></a></li>
          <li><a href="#" class="app-icon"><i class="fab fa-google-play"></i></a></li>
        </ul>
        <div class="footer-column-divider get-our-app-divider"></div>
    </div>
    </div>
  </div>
</footer>
