<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%= stylesheet_link_tag 'home', media: 'all' %>
</head>
<body>
  <div class="container">
    <h1>Sisyphus</h1>
    <h1 class="title">Welcome to Your Task Manager</h1>

    <!-- Button container -->
    <div class="button-container">
      <!-- Journal Button -->
      <a href="#" class="button">Journal</a>
      <!-- Forum Button -->
      <a href="#" class="button">Forum</a>
      <!-- Dashboard Button -->
      <a href="#" class="button">Dashboard</a>
    </div>
  </div>get things done!</h2>
</body>
</html>
