<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%= stylesheet_link_tag 'home', media: 'all' %>
</head>
<body>
  <div class="container p-3">
    <!-- Title -->

    <!-- Button container -->
    <div class="button-container">
      <!-- Enclosing div for buttons -->
      <div class="button-wrapper">
        <!-- Journal Button -->
        <a href="#" class="button">Journal</a>
        <!-- Forum Button -->
        <a href="#" class="button">Forum</a>
        <!-- Dashboard Button -->
        <a href="#" class="button">Dashboard</a>
      </div>
    </div>

    <h1 class="title">Sisyphus</h1>
    <h2 class="sub">The legend of you trying <Br> to get stuff
      done
    </h2>
  </div>
  <%if @user_tasks.length > 0%>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-4 offset-md-2">
        <h2> Your tasks for the day </h2>
        <% @user_tasks.each do |user_task| %>
          <h3><%= link_to user_task.task.title, user_user_task_path(current_user, user_task) %></h3>
        <% end %>
      </div>
    </div>
  <%end%>
</body>
</html>
