<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%= stylesheet_link_tag 'home', media: 'all' %>
</head>
<body>
  <div class="container">
    <!-- Title -->

    <!-- Button container -->
    <div class="button-container">
      <!-- Enclosing div for buttons -->
      <div class="button-wrapper">
        <!-- Journal Button -->
        <a href="#" class="button">Journal</a>
        <!-- Forum Button -->
        <a href="#" class="button">Forum</a>
        <!-- Dashboard Button -->
        <a href="#" class="button">Dashboard</a>
      </div>
    </div>

    <h1 class="title">Sisyphus</h1>
    <h2 class="sub">The legend of you trying <Br> to get stuff
      done
    </h2>
  </div>
</body>
</html>
