.achievement-card {
  margin: 10px;
  padding-top: 10px;
  padding-left: 27px;
  border: 2px solid #eedac2;
  border-radius: 50px;
  height: 90px;
  width: 500px;
  background-color: #8e8756;
}

h4 {
  margin: 0;
  display: flex;
  align-items: center;
  color: #eedac2;
}
