.transition-effect {
  transition: all 2s ease; /* Adjust the duration and timing function as needed */
}

.boulder-container {
  position: fixed;
  width: 100%; /* Adjust the width as needed */
  height: 90vh; /* Adjust the height as needed */
  z-index: 2;
}

.boulder-container-container {
  position: relative;
  width: 100%; /* Adjust the width as needed */
  height: 90vh; /* Adjust the height as needed */
}

[data-roll-boulder-target="boulder"] {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 2s linear forwards;
}

.image-button {
  border: none; /* Remove default button border */
  padding: 0; /* Remove default button padding */
  background: none; /* Remove default button background */
  cursor: pointer; /* Show pointer cursor on hover */
  display: inline-block; /* Ensure button wraps around content */
  width: 186px; /* Set custom width */
  height: 186px; /* Set custom height */
}

.diagonal-line {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0;
  border-top: 70vh solid transparent; /* Adjust height to match container */
  border-right: 100vw solid $final-contrast; /* Adjust width to match container */
  z-index: 1; /* Ensure line is behind content */
}

.text-bubble {
  position: absolute;
  left: 20px; /* Adjust based on the desired position relative to the boulder image */
  bottom: 20px; /* Adjust based on the desired position relative to the boulder image */
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  display: none;
  transition: opacity 1s;
}
