.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background-color: $final-black; // example background color
  padding: 3px 0;

  .navbar-brand {
    img {
      width: 225px;
      height: 51px;
      margin-left: 19px;
    }
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-nav {
    display: flex;
    justify-content: flex-end; // Align navbar items to the right
    align-items: center; // Align vertically
    flex-grow: 1; // Allow navbar items to grow
  }

  .nav-item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-link {
    color: #f7f2f2; // example text color
    font-size: 20px; // Increased font size
    font-weight: 600;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #ffffff; // example text color on hover
    }

    i {
      margin-right: 5px;
    }
  }

  nav-item.dropdown {
    .avatar {
      i {
        margin-right: 10px; // Add right margin to the icon
        margin-left: 10px;
      }
    }
  }

  .user {
    margin-left: 20px;
  }
}
