.container {
  width: 80%; /* Adjust width as needed */
  margin: 0 auto; /* This will center the container horizontally */
  text-align: center; /* This will center the content inside the container */
}
/* Additional CSS styles */
.title h2 {
  margin: 0; /* Remove default margin */
}

.description h3 {
    margin: 0;
}
