<div class="container d-flex flex-column">
  <h3 class="mt-3">Achievements</h3>
  <div>
    <% @achievements.each do |achievement| %>
      <div class="achievement-card d-flex flex-column align-items-start justify-content-center">
        <h4><%= achievement.name %></h4>
        <p><%= achievement.description %></p>
      </div>
    <% end %>
  </div>
</div>
