<div class="container_task pt-3">
  <div class="task_t">
   <h2><%= @user_task.task.title %></h2>
  </div>
  <div class="task_description">
   <p><%= @user_task.task.description %></p>
  </div>
</div>
